<html>
    <head>
        <title>Create a Customer</title>
    </head>
    <body>
        <form action="/insert/customer/" method="post">
            <label for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" value=""><br><br>
            <label for="name">name:</label>
            <input type="text" id="name" name="name" value=""><br><br>
            <label for="email">email:</label>
            <input type="text" id="email" name="email" value=""><br><br>
            <label for="billing_address">billing_address:</label>
            <input type="text" id="billing_address" name="billing_address" value=""><br><br>
            <label for="payment_info">payment_info:</label>
            <input type="text" id="payment_info" name="payment_info" value=""><br><br>
            <input type="submit" value="Create">
        </form>
    </body>
</html>